In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## This API it's free to use

I limit from 500 users and in the time I'll update with more information

In [7]:
dataset_users_raw = pd.read_json("https://my.api.mockaroo.com/user_netflix.json?key=9879a790")
print("dataset_users_raw Len",len(dataset_users_raw))
dataset_users_raw.head()

dataset_users_raw Len 500

,id,username,country,time_online,time_watch
0,59dd8c3b-2aa7-462d-bccd-8882ca32f601,Span,Canada,12104,1364
1,befaf644-0b6f-4360-9492-e5e8b2b98b6b,Fintone,China,6861,4032
2,361bd3ef-2a29-4d1c-8635-4975e0810507,Trippledex,China,14134,12148
3,de987a67-559f-40a1-aff3-204d8037ef6b,Temp,China,10001,4860
4,9a92713b-5cac-40b9-af46-4e30d0c8b8f3,Duobam,Russia,10997,3195

In [8]:
dataset_movies_raw = pd.read_json("https://my.api.mockaroo.com/movies.json?key=9879a790")
print("dataset_movies_raw Len",len(dataset_movies_raw))
dataset_movies_raw.head()

dataset_movies_raw Len 1000

,movieId,title,movie_gen,year,language,watch_time,likes,dislikes
0,56-524-4735,Season of the Witch (Hungry Wives) (Jack's Wife),Drama|Horror,2016-01-26 04:13:04,po,16647,8212,7542
1,82-529-9881,Wild America,Adventure|Children,2009-03-28 01:54:19,es,8569,13609,12019
2,65-655-1379,Everybody Wants to Be Italian,Comedy|Romance,2002-09-27 13:08:36,ru,1405,10552,7149
3,14-741-8785,Liliom,Drama|Fantasy,2007-08-21 03:19:09,ru,7529,14226,9182
4,29-803-7529,"Pursuit of Happyness, The",Drama,1986-03-11 17:05:08,jp,13742,9888,10695

In [9]:
dataset_users = dataset_users_raw.copy()
dataset_users.head()

,id,username,country,time_online,time_watch
0,59dd8c3b-2aa7-462d-bccd-8882ca32f601,Span,Canada,12104,1364
1,befaf644-0b6f-4360-9492-e5e8b2b98b6b,Fintone,China,6861,4032
2,361bd3ef-2a29-4d1c-8635-4975e0810507,Trippledex,China,14134,12148
3,de987a67-559f-40a1-aff3-204d8037ef6b,Temp,China,10001,4860
4,9a92713b-5cac-40b9-af46-4e30d0c8b8f3,Duobam,Russia,10997,3195

In [10]:
dataset_movies = dataset_movies_raw.copy()
dataset_movies.head()

,movieId,title,movie_gen,year,language,watch_time,likes,dislikes
0,56-524-4735,Season of the Witch (Hungry Wives) (Jack's Wife),Drama|Horror,2016-01-26 04:13:04,po,16647,8212,7542
1,82-529-9881,Wild America,Adventure|Children,2009-03-28 01:54:19,es,8569,13609,12019
2,65-655-1379,Everybody Wants to Be Italian,Comedy|Romance,2002-09-27 13:08:36,ru,1405,10552,7149
3,14-741-8785,Liliom,Drama|Fantasy,2007-08-21 03:19:09,ru,7529,14226,9182
4,29-803-7529,"Pursuit of Happyness, The",Drama,1986-03-11 17:05:08,jp,13742,9888,10695

# All imports done! Have FUN!

In [36]:
dataset_most_watch = dataset_movies.sort_values("watch_time",axis=0, ascending=False, kind='quicksort', na_position='last')
dataset_most_watch

,movieId,title,movie_gen,year,language,watch_time,likes,dislikes
117,04-619-2667,Paris 36 (Faubourg 36),Drama|Musical|Romance,1987-01-20 15:36:00,fr,20000,5179,19770
602,02-902-9909,Game of Chance (Onnenpeli),Comedy|Drama,2013-05-21 14:39:06,fr,19986,3583,19699
997,65-302-3521,"Blood Relatives (Liens de sang, Les)",Crime|Drama|Mystery|Thriller,2005-11-22 19:12:10,in,19962,16555,19763
394,71-774-3307,Holy Flame of the Martial World (Wu lin sheng ...,Action|Adventure|Comedy|Fantasy,2007-03-08 19:13:40,en,19956,3472,12401
675,85-224-4473,"Psychopath, The",Horror|Mystery,1991-07-18 11:22:58,jp,19922,19290,3862
...,...,...,...,...,...,...,...,...
794,07-668-6345,Bertsolari,Documentary,1992-08-15 07:52:30,es,41,19847,11416
94,34-967-0568,On the Edge,Drama,1998-04-08 11:34:01,ru,32,4271,17832
376,75-780-6332,I Married A Strange Person!,Animation|Comedy|Fantasy|Sci-Fi,1992-09-08 14:16:19,ru,28,15104,5127
485,86-975-3071,Another Thin Man,Comedy|Crime|Drama|Mystery|Romance,2012-07-06 22:03:27,ru,13,18195,19200
300,10-160-9611,"Waiting Room, The",Documentary,1986-08-23 03:15:07,pt,10,16240,16510